header {
  padding: 4rem 4rem;

  margin-bottom: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  display: none;
}

nav {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 992px) {
  header {
    display: flex;
  }
}
