<main>
  <p style="max-width: 750px; margin-bottom: 3rem">
    This is a project we made to get familiar with different front end
    frameworks. In this, case we used <span>Angular</span>. Here's what we
    thought about it:
  </p>

  <article class="dev-opinion">
    <h2>@melosomelo</h2>
    <p>
      <span>Angular</span> is by far, the most complex of the four frameworks
      used. Consdering that my time to learn it and to put it in practice was
      not much, I'd say that I didn't really like my experience with it. It
      seems really, really, powerful. But I don't see why I would pick any of
      this complexity over <span class="react">React</span> or
      <span class="vue">Vue</span>.
    </p>
    <p>
      <span class="vue">Vue</span> >= <span class="react">React</span> >
      <span class="svelte">Svelte</span> > <span>Angular</span>.
    </p>
  </article>
  <article class="dev-opinion">
    <h2>@leonandro</h2>
    <p>Yet to give his opinion</p>
  </article>
</main>
