<article class="post-wrapper">
  <div class="top-wrapper">
    <h2>{{ title }}</h2>
    <div class="icons-wrapper">
      <img
        src="/assets/images/close-icon.svg"
        class="close-icon"
        (click)="deletePost(id, posts)"
      />
      <a routerLink="/edit-post/{{ id }}">
        <img src="/assets/images/edit-icon.svg" />
      </a>
    </div>
  </div>
  <p>
    {{ text }}
  </p>
  <span
    >{{ time.getMonth() }}/{{ time.getDate() }}/{{ time.getFullYear() }}</span
  >
</article>
